{% extends 'base.html' %}

{% block content %}
<h2>Usuarios</h2>
<div class="mb-3">
    <a href="{% url 'listar_usuarios' %}?filtro_participacion=mas_eventos" class="btn btn-info">Usuarios con más eventos</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.email }}</td>
            <td>
                <a href="{% url 'ver_usuario' usuario.id %}" class="btn btn-info">Ver</a>
                <a href="{% url 'editar_usuario' usuario.id %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'eliminar_usuario' usuario.id %}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>Total de usuarios: {{ total_usuarios }}</p>
<a href="{% url 'registrar_usuario' %}" class="btn btn-success">Registrar Usuario</a>
{% endblock %}